{% extends "base.html" %}

{% block content %}

<article id="database">

  <h1>Database</h1>

  <section class="container">

    <section class="box">
      <h1>Tables</h1>
      <ul>
	<li><a href="/database/checkpoints">Checkpoints</a></li>
	<li><a href="/database/sequences">Sequences</a></li>
      </ul>
    </section>
    
    <section class="box">
      <h1>Cookies</h1>
      <ul>
	{% for cookies in cookies_list %}
	<li><a href="/database/cookies/{{ cookies }}">{{ cookies }}</a></li>
	{% endfor %}
      </ul>
    </section>
    
    <section class="box">
      <h1>Data</h1>
      <ul>
	<li><a href="/database/stage">Stage</a></li>
	<li>Serializer channels:<ul>
	    {% for channel in serializer_channels_list %}
	    <li><a href="/database/serializer_channels/{{ channel }}">{{ channel }}</a></li>
	    {% endfor %}
	</ul></li>
      </ul>
    </section>

  </section>

</article>

{% endblock content %}

