{% extends "base.html" %}

{% block content %}

<article id="database">

  <h1>{{ section }}</h1>

  <table>
    {% for label,value in data_list %}
    <tbody>
      <tr>
	<td class="left">{{ label }}</td>
	<td class="left" id="value-{{ label|replace('/','__') }}">{{ value }}</td>
	<td class="center">
	  {% if label[:6] != "source" %}&nbsp;{% else %}
	  <a class="set_checkpoint"
	     data-value_id="value-{{ label|replace('/','__') }}"
	     href="/sources/{{ label[7:] }}/checkpoint">
	    <i class="fas fa-edit"></i>
	  </a>
	  {% endif %}
	</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>

</article>

<dialog id="set-checkpoint" class="set" title="Set Checkpoint">
  <input type="hidden" name="url" id="url_id"/>
  <div class="form">
    <table>
      <tbody>
	<tr>
	  <th>
	    <label for="type_id">Type</label>
	  </th>
	  <td>
	    <select name="type" id="type_id">
	      <option value="reset">reset</option>
	      <option value="scalar">scalar</option>
	      <option value="datetime">datetime</option>
	    </select>
	  </td>
	</tr>
      </tbody>
      <tbody class="field scalar">
	<tr>
	  <th><label for="value_id">Value</label></th>
	  <td><input type="text" name="value" id="value_id"/></td>
	</tr>
      </tbody>
      <tbody class="field datetime">
	<tr>
	  <th><label for="date_id">Date</label></th>
	  <td><input type="date" name="date" id="date_id" /></td>
	</tr>
      </tbody>
      <tbody class="field datetime">
	<tr>
	  <th><label for="time_id">Time</label></th>
	  <td><input type="time" name="time" id="time_id" step="1"/></td>
	</tr>
      </tbody>
    </table>
  </div>

</dialog>


{% endblock content %}

{% block script %}

$("#set-checkpoint").dialog({
    autoOpen: false,
    modal: true,
    width: "auto",
    buttons: {
	Set: function() {
	    var url=$(this).find("input[name=url]").val();
	    var type=$(this).find("select[name=type]").val();

	    data=[
		["type", type, "text"]
	    ];

	    switch(type) {
	    case "reset":
		break;
	    case "scalar":
		data.push(["value",$(this).find("input[name=value]").val(),"text"]);
		break;
	    case "datetime":
		var date=$(this).find("input[name=date]").val();
		var time=$(this).find("input[name=time]").val();
		var utc=luxon.DateTime.fromISO(date+'T'+time, {zone: 'local'}).toUTC();
		data.push(["year",utc.c.year,"number"]);
		data.push(["month",utc.c.month,"number"]);
		data.push(["day",utc.c.day,"number"]);
		data.push(["hour",utc.c.hour,"number"]);
		data.push(["minute",utc.c.minute,"number"]);
		data.push(["second",utc.c.second,"number"]);
		break;
	    }

	    var form=$("<form/>");
	    $("body").append(form);

	    for(n=0;n<data.length;n++) {
		var name=data[n][0];
		var val=data[n][1];
		var itype=data[n][2];
		form.append(
		    $('<input type="'+itype+'" id="'+name+'_id" name="'+name+'" value="'+val+'"/>')
		);
	    }
	    
	    form.hide();
	    form.attr("action",url);
	    form.attr("method","POST");
	    form.submit();
	    $(this).dialog( "close" );
	},
	Cancel: function() {
	    $(this).dialog( "close" );
	}
    }
});

$("#set-checkpoint").find("select[name=type]").change(function(event){
    var sel=$(this).val();
    $("#set-checkpoint").find(".field").hide();
    $("#set-checkpoint").find(".field."+sel).show();
});

$(".set_checkpoint").click(function(event){
    event.preventDefault();
    var dialog_id="set-checkpoint";
    var url=$(this).attr("href");
    var value_id=$(this).data("value_id");
    var value=$("#"+value_id).html();

    var ret=value.match(/^(\d\d\d\d-\d\d-\d\d) (\d\d:\d\d:\d\d)/);

    if (ret) {
	$("#"+dialog_id).find("select[name=type]").val("datetime").trigger("change");
	$("#"+dialog_id).find("input[name=date]").val(ret[1]);
	$("#"+dialog_id).find("input[name=time]").val(ret[2]);
    } else {
	$("#"+dialog_id).find("select[name=type]").val("scalar").trigger("change");
	$("#"+dialog_id).find("input[name=value]").val(value);
    };

    $("#"+dialog_id).find("#url_id").val(url);
    $("#"+dialog_id).dialog("open");
});


{% endblock script %}
