{% extends "base.html" %}

{% block content %}

<article id="database">
<h1>{{ collection.name }}</h1>
<table>
  <thead><tr>
      <th>&nbsp;</th>
  {% for key in collection.fields %}
  <th>{{ key }}</th>
  {% endfor %}
  </tr></thead>

  {% for obj in collection %}
  <tbody>
    <tr>
      <td><img src="{{ obj.thumbnail_url }}"></td>
      {% for key in collection.fields %}
      <td>{% if loop.index0 == 0 %}<a href="{{ obj.url }}">{% endif %}
	  {{ obj.meta[key] }}{% if loop.index0 == 0 %}</a>{% endif %}</td>
      {% endfor %}
    </tr>

  </tbody>
  {% endfor %}

</table>

</article>

{% endblock content %}
